.card{
  display: flex;
  gap: 20px;
  max-width: 600px;
  width: 100%;

  .cardInfo{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .cardDetails{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 14px;
  }

  .img{
    height: 280px;
    width: 290px;
    border-radius: 10px;
  }
}