.main{
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 20px;

  @media (max-width: 1000px) {
    flex-direction: column;
    gap: 30px;
  }

  margin-top: 100px;
}